<div class="container body-text main-container help-page">
<h1>Help</h1>

<ul class="list-unstyled">
<h2>Manage Shows</h2>

<h3>Add a show:</h3>
<li>
  <p>Click 'Manage Shows'. The link is in the upper right corner of the interface, on the navigation bar. Then choose the option 'Add Show'.</p>
  <p>Enter the name of a TV Show in the search bar and click 'Go'.
  From the list of results being displayed, click the 'Queue' button next to the appropriate entry (this will be disabled if a show is already in your queue). You will be directed to your list of shows, as though you had navigated to 'Mangage Shows' -> 'My Shows'.</p>
</li>

<h3>Remove a show:</h3>
<li>
  <p>Click 'Manage Shows'. The link is in the upper right corner of the interface, on the navigation bar. Then choose the option 'My Shows'.</p>
  <p>From the list of results being shown, click the 'Remove' button next to the entry for the show you are trying to delete from your queue.</p>
</li>

<h3>Mark an episode as 'already viewed':</h3>

<h4>One at a time:</h4>

<li>
  <p>Once you have some shows in your queue, you can mark episodes as you view them in either of two places.</p>
  <p>From the 'My Shows' page you can press the button for 'View Episodes', or you can click on the 'Queue' link in the upper right hand corner (on the navigation bar).</p>
  <p>To the right of each episode's entry is a blue box. Once you have viewed an episode (or decided to skip it, I don't judge) click on the box. The episode will be checked off of your list.</p>
</li>

<h4>A lot at once:</h4>

<li>
  <p>If you are already halfway through season 5 of a show and don't feel like clicking 80 boxes, click again on the 'Manage Shows' link and choose the 'My Shows' option.</p>
  <p>At the bottom right of the show's entry you can type the season number and episode number of the most recently broadcast episode you have already viewed. Click 'Mark'.</p>
  <p>This process can take a few seconds, so be patient and you will be redirected once again to your queue.</p>
</li>

<h2>Your Queue</h2>

<li>
  <p>Your queue will be made up of a list of episodes.</p>
  <p>When it loads it will automatically scroll to the oldest episode you have not yet watched.</p>
  <p>Episodes you have already viewed will remain at the bottom of your list.</p>
  <p>You can tell that you have already marked them as viewed either by observing the small checkmark in the blue box (See the section on marking shows as 'already viewed' above) on the right, or by it's white background.</p>
  <p>The first episode chronologically which you have not yet watched will have a blue background. Future episodes that air no later than today will be green. Any episodes that have been announced and don't air until a future date will be displayed at the top of the list (scroll up to see them) with a yellow background.</p>
</li>

<li>
  <p>The subqueue (available at 'Manage Shows' -> 'View Episodes') is set up exactly like the main queue, but is restricted to episodes from just that season.</p>
</li>

</div>
