<div class="container main-container">
  <ol class="list-group">
    <% if @complete_queue.empty? %>
      <li class="list-group-item clearfix empty-queue">
        <p>Looks like you're new here!</p>
        <p>TVQueue is here to help you keep track of the television shows you are watching accross multiple networks and streaming services.</p>
        <p>Click on 'Help'<span id="arrow">&#8663;</span></p>
        <p>to learn how to keep track of all the shows you are watching, or</p>
        <p>jump right in by clicking <span id="arrow">&#8659;</span> 'Add a new Show'.</p>
      </li>
    <% else %>
      <%= render partial: 'tv_shows/episode_detail', collection: @complete_queue, as: :ep %>
    <% end %>
  </ol>
</div>
