<h2><%= @user.email %></h2>
<div class="container">
  <h3>CQ</h3>
  <ol class="list-group">
    <% @complete_queue.each do |ep| %>
      <li class="list-group-item clearfix">
        <p>
        <%= "#{ep.episode.title} | #{ep.episode.airdate}" %>
        </p>
        <p>
        <%= "#{ep.episode.tv_show.title} | S#{ep.episode.season}E#{ep.episode.episode_number}" %>
        </p>
      </li>
    <% end %>
  </ol>
  <h3>UQ</h3>
  <ol class="list-group">
    <% @unwatched_queue.each do |ep| %>
      <li class="list-group-item clearfix">
        <p>
          <%= "id: #{ep.episode_id}, airdate: #{ep.episode.airdate}" %>
        </p>
      </li>
    <% end %>
</div>
