<li class="list-group-item text-center clearfix if list-group-item-success">
  <%= link_to 'Display All Shows', tv_shows_index_path, class: "btn btn-success btn-lg pull-left" %>
  <div class="pull-right form-inline">
    <form>
      <input type="hidden" name="tv_show_id" value="<%= @tv_show_id %>" />

      <select name="filter" class="form-control">
        <option value="all">All</option>
        <option value="new">New</option>
      </select>

      <select name="sort" class="form-control">
        <option value="default">Default</option>
        <option value="showa">A - Z</option>
        <option value="showd">Z - A</option>
        <option value="datea">Oldest</option>
        <option value="dated">Newest</option>
      </select>

      <input type="submit" value="Sort" class="form-control btn btn-primary"/>
    </form>
  </div>
</li>
