<div class="container main-container manage-shows-dashboard">
  <%= link_to 'Add Show', tv_shows_search_path, class: "btn btn-primary btn-lg col-sm-5 pull-left" %>
  <%= link_to 'My Shows', tv_shows_index_path, class: "btn btn-primary btn-lg col-sm-5 pull-right" %>
</div>
