<div class="container main-container">
  <ol class="list-group">
    <% if @partial_queue.empty? %>
      <li class="list-group-item clearfix empty-queue">
        <p>Looks like you're new here!</p>
        <p>To get started, click on 'Manage Shows' <span id="arrow">&#8599;</span></p>
        <p>and add a few of the shows you are watching.</p>
      </li>
    <% else %>
      <%= render partial: 'episode_sort_and_filter' %>
      <%= render partial: 'episode_detail', collection: @partial_queue, as: :ep %>
    <% end %>
  </ol>
</div>
