/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 55px;
}

.navbar-brand {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.navbar-brand span {
  color: #ff0000;
}

.navbar-fixed-top {
  background-color: #e3f2fd;
}

/* queued_episodes#index */

.empty-queue {
  text-align: center;
}

#arrow {
  color: #00cc00;
  font-weight: bold;
  font-size: 2rem;
}

.img-thumbnail {
  background: #4d4e4f;
}

.next-episode{
  position: relative;
}

#next-episode{
  position: absolute;
  top: -220px;
  height: 1px;
  width: 100%;
}

.queue-toggle-button {
  font-family: Monospace;
}

/* tv_shows#search_results */
.mass-mark-viewed-form {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-right: 0px;
}

.search-results-info-row {
  margin-right: 0px;
}
