/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 55px;
}

.main-container:before {
  background-color: #363636;
  position: fixed;
  height: 100vh;
  width: 200vw;
  top: 0;
  bottom: 0;
  left: -100vw;
  overflow: hidden;
  z-index: -1;
}

.main-container {
  margin-left: -15px;
}

.body-text {
  color: #e3f2fd;
}

/* navbar */

.navbar-brand {
  float: left;
  margin-right: 10px;
  font-size: 3rem;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.navbar-brand .highlight {
  color: #ff0000;
  text-transform: uppercase;
}

.navbar-brand .extension {
  color: #000000;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: normal;
}

.navbar-fixed-top {
  background-color: #e3f2fd;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 3600ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); color: purple; }
  40% { transform: scale(1.08);}
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); color: red;}
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

/* queued_episodes#index */

.empty-queue {
  text-align: center;
}

.empty-queue p {
  margin: auto;
  max-width: 540px;
}

#arrow {
  color: #00cc00;
  font-weight: bold;
  font-size: 2rem;
}

.img-thumbnail {
  background: #4d4e4f;
}

.next-episode{
  position: relative;
}

#next-episode{
  position: absolute;
  top: -220px;
  height: 1px;
  width: 100%;
}

.queue-toggle-button {
  font-family: Monospace;
}

/* tv_shows#manage_shows */

.manage-shows-dashboard {
  padding-top: 100px;
}

/* tv_shows#search_results */

.mass-mark-viewed-form {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-right: 0px;
}

.search-results-info-row {
  margin-right: 0px;
}

/* tv_shows#index */

.network-logo {
  padding-top: 60px;
  padding-left: 12px;
}

/* static_pages#help */

.help-page
{
  font-size: 2rem;
}
